<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container ">
    <h1 class="display-4 text-monospace text-center">My Todos</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-monospace">Need Todo</h2>

      <ol class="text-monospace">
        {{#each todos}}
        {{#unless complete}}
        {{> todos/todo-block complete=true}}
        {{/unless}}
        {{/each}}
      </ol>
    </div>
    <div class="col">
      <h2 class="text-monospace">Done</h2>

      <ol class="text-monospace">
        {{#each todos}}
        {{#if complete}}
        {{> todos/todo-block complete=false}}
        {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <h2 class="text-monospace">Add a Todo</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="ca" class="text-monospace">Todo:</label>
          <input type="text" id="ca" name="name">
        </div>

        <button type="submit" class="btn btn-info text-monospace">Add Todo</button>
      </form>
    </div>
  </div>
</div>