<li class="m-2">
	{{text}}

	{{#if complete}}
		<button class="change-complete btn btn-success text-monospace shadow-sm m-1" data-id="{{id}}" data-complete="{{complete}}">
			Complete
		</button>
	{{/if}}

	<button class="delete-todo btn btn-danger text-monospace shadow-sm m-1" data-id="{{this.id}}">Delete</button>
</li>
