<li>
	{{text}}

	<button class="change-complete" data-id="{{id}}" data-complete="{{complete}}">
		{{#if complete}}COMPLETE{{/if}}
	</button>

	<button class="delete-todo" data-id="{{this.id}}">DELETE!</button>
</li>
