<li class="m-2">
	{{text}}

	<button class="change-complete btn btn-success text-monospace shadow-sm m-1" data-id="{{id}}" data-complete="{{complete}}">
		{{#if complete}}Complete{{/if}}
	</button>

	<button class="delete-todo btn btn-danger text-monospace shadow-sm m-1" data-id="{{this.id}}">Delete</button>
</li>
